streamlit
pandas
openpyxl       # For reading Excel files
scikit-learn   
matplotlib     
nltk           
google_play_scraper
wordcloud
seaborn
TextBlob
transformers
torch
Counter
numpy==1.24.3
spacy==3.6.0
spacy-streamlit
thinc
