streamlit
pandas
openpyxl       # For reading Excel files
scikit-learn   
matplotlib     
nltk           
google_play_scraper
wordcloud
seaborn
TextBlob
transformers
torch
Counter
spacy==3.5.1  # Or the version you're using
thinc>=8.1.0
numpy>=1.21.6
