streamlit
pandas
numpy==1.25.0
openpyxl       # For reading Excel files
scikit-learn   
matplotlib     
nltk           
google_play_scraper
spacy==3.7.0
en-core-web-sm==3.7.0
wordcloud
seaborn
TextBlob
transformers
torch
Counter
